*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000;
}
ul li{
	list-style: none;
}
.start{
	width: 100%;
	background-color: #f5f5f5;
}
.start .start-nav{
	width: 1170px;
	height: 28px;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}
.start .start-nav .nav-l{
	width: 86px;
	height: 28px;
	float: left;
	position: relative;
}
.start .start-nav .nav-l::after{
	position: absolute;
    bottom: -1px;
    left: 1px;
    content: '';
    width: 84px;
    height: 1px;
    overflow: hidden;
    background-color: #fff;
    display: inline-block;
}
.start .start-nav .nav-l:hover{
	border: 1px solid #ccc;
	border-bottom: none;
	background-color: #fff;
}
.start .start-nav .nav-l .nav-zi{
	width: 40px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	display: inline-block;
	padding: 0 15px 0 15px;
}
.start .start-nav .nav-l .nav-zi a{
	font-size: 12px;
	color: #333;
}
.xsj{
	display: inline-block;
    width: 0;
    height: 0;
    border-width: 4px;
    border-color: #999 transparent transparent transparent;
    border-style: solid dashed dotted dashed;
    vertical-align: middle;
}
.start .start-nav .nav-l .nav-xiala-l{
	width: 470px;
	height: 190px;
	position: absolute;
	top: 28px;
	left: -1px;
	padding: 10px;
	border: 1px solid #ccc;
	font-size: 13px;
	color: #333;
	display: none;
	background:#fff;
}
.start .start-nav .nav-l:hover .nav-xiala-l{
	display: block;
}

.start .start-nav .nav-l .nav-xiala-l .x{
	position: absolute;
	top: 10px;
	left: 450px;
}
.city{
	position: relative;
	z-index: 10;
	margin-top: 5px;
	height: 28px;
	overflow: hidden;
}
.city li{
	box-sizing: border-box;
	width: 68px;
	height: 28px;
	float: left;
	border: 1px solid #ccc;
	/*border-bottom: none;*/
	text-align: center;
	line-height: 28px;
}
.city .city-first{
	background-color: #f5f5f5;
}
.city .city-second{
	box-sizing: border-box;
	border-left: none;
	border-bottom: none;
	background-color: #fff;
	border-top: 2px solid #F10180;
	position: relative;
}
.city .city-second::after{
	position: absolute;
	bottom: -1px;
	left: 0;
	overflow: hidden;
	background: #fff;
	width: 68px;
	height: 1px;
}
/*.city .city-first:active{
	box-sizing: border-box;
	border-bottom: none;
	background-color: #fff;
	border-top: 2px solid #F10180;
}*/
.city .city-second a{
	font-weight: 700;
}
.start .start-nav .nav-l .nav-xiala-l .city2{
	width: 444px;
	height: 82px;
	padding: 20px 13px;
	border-top: 1px solid #ccc;
	position: absolute;
	top: 59px;
	z-index: 5;
	display: flex;
}
.start .start-nav .nav-l .nav-xiala-l .city2>ul{
	flex: 1;
}
.start .start-nav .nav-l .nav-xiala-l .city2>ul>li{
	width: 103px;
	height: 25px;
	line-height: 25px;
	margin-bottom: 4px;
}
.start .start-nav .nav-l .nav-xiala-l .city2 ul:first-child li:first-child a{
	background-color: #F10180;
	color: #fff;
}
.start .start-nav .nav-l .nav-xiala-l .city2>ul>li>a{
	display: inline-block;
	padding: 0 10px;
	border: 1px solid #fff;
}
.start .start-nav .nav-l .nav-xiala-l .city2 ul>li>a:hover{
	border: 1px solid #F10180;
	color: #F10180;
}
.start .start-nav .nav-r{
	height: 28px;
	float: right;
	display: flex;
}
.start .start-nav .nav-r>li{
	line-height: 28px;
	position: relative;
	text-align: center;
	border: 1px solid #f5f5f5;
	
	z-index: 66;
}
.start .start-nav .nav-r>li>a{
	font-size: 14px;
	display: inline-block;
	padding: 0 5px;
}
 .start .start-nav .nav-r>li::after{
	display: inline-block;
	width: 16px;
	height: 16px;
	content: "";
	background: url(./images/pic1.png) -246px -184px;
	vertical-align: middle;
}
.start .start-nav .nav-r li .phone{
	display: inline-block;
	width: 10px;
	height: 14px;
	background: url(./images/pic1.png) -294px -142px;
}
.start .start-nav .nav-r>li:last-child::after{
	display: none;
}
.nav-r>li>a:hover{
	color: #F10180;
}
/*.start .start-nav .nav-r>.temai{
	width: 95px;*/
/*	height: 28px;

}
.start .start-nav .nav-r>.temai:hover .temaixaila{
	display: block;
}
.start .start-nav .nav-r>.temai:hover{
	border: 1px solid #cdcdcd;
	background: #fff;
	border-bottom: none;
}
.start .start-nav .nav-r>.temai>i{
	width: 95px;
	height: 2px;
	position: absolute;
	bottom: -2px;
	left: 0;
	overflow: hidden;
	background:#fff;
	background-image: none;
	display: inline-block;
}
.start .start-nav .nav-r .temaixaila{
	width: 120px;
	position: absolute;
	top: 27px;
	left: -1px;
	background-color: #fff;
	border: 1px solid #cdcdcd;
	display: none;

}
.start .start-nav .nav-r .temaixaila>ul>li{
	padding: 5px;
	color: #333;
}
.start .start-nav .nav-r .temaixaila>ul>li:hover{
	color: #F10180;
}*/
/*start结束*/
.head{
	width: 100%;
}
.head .head-nav{
	width: 1170px;
	height: 100px;
	margin: 0 auto;
}
.head .head-nav .logo{
	float: left;
}
.head .head-nav .fuwu{
	height: 100px;
	float: left;
}
.head .head-nav .fuwu a{
	width: 101px;
	height: 44px;
	margin-top: 34px;
	display: inline-block;
}
.fuwu .zhengpin{
	background:url(./images/pic1.png) -2px -38px; 
}
.fuwu .tui{
	background:url(./images/pic1.png) -105px -38px;
}
.fuwu .yunfei{
	background:url(./images/pic1.png) -207px -38px;
}
.head .head-nav .head-nav-r{
	float: right;
	height: 100px;
}
.head .head-nav .head-nav-r .search{
	width: 318px;
    height: 32px;
    border: 1px solid #4c4c4c;
    border-radius: 3px;
    background-color: #fff;
    float: left;
    margin-top: 33px;
}
 .head .head-nav .head-nav-r .search .searchkuang{
	padding: 2px 15px;
    width: 261px;
    height: 28px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    border: none;
    outline: none;
    background-color: #fff;
}
.head .head-nav .head-nav-r .search .tubiao{
	width: 17px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
	background:url(./images/pic1.png) -72px -208px;
}
.head .head-nav .head-nav-r .gouwu{
	width: 92px;
    height: 34px;
    line-height: 32px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 3px;
    float: left;
    margin-top: 33px;
    margin-left: 30px;
    padding:0 8px;
}
.head .head-nav .head-nav-r .gouwu a{
	font-size: 14px;
}
.daizi{
	width: 12px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
	background:url(./images/pic1.png) -93px -208px;
}
.shuliang{
	border-radius: 8px;
    width: 24px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    background-color: #f00581;
    border: 1px solid red;
    display: inline-block;
}
.head::after{
	content: "";
	display: block;
	clear: both;
}
.main-head{
	width: 100%;
	height: 41px;
	background-color: #f10180;
}
.main-head .main-menu{
	width: 1170px;
	line-height: 40px;
	margin: 0 auto;
}
.main-head .main-menu ul li{
	float: left;
}
.main-head .main-menu ul li:hover{
	background: #bd1067;
}
.main-head .main-menu ul li a{
	display: inline-block;
	padding: 0 20px;
	color: #fff;
}
.main-head .main-menu ul .shouye {
	background-color: #bd1067;
	font-weight: 700;
}
.xsj-b{
	display: inline-block;
    width: 0;
    height: 0;
    border-width: 4px;
    border-color: #fff transparent transparent transparent;
    border-style: solid dashed dotted dashed;
    vertical-align: text-bottom;
}
.main-head .main-menu ul .fenlei{
	float: right;
}
.main-head .main-menu ul .fenlei a img{
	vertical-align: middle;
}
.main-head .main-menu ul .yugao{
	float: right;
}
.main-head .main-menu ul .yugao a img{
	vertical-align: middle;
}
.nav4{
	width: 100%;
	height: 502px;
	background: url(./images/pic8.jpg) no-repeat;
	background-position: center top;
	position: relative;
}
.nav4 .nav4-center{
	width: 1146px;
	height: 454px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px rgba(167,167,167,.4);
	margin-left: -573px;
	box-sizing: border-box;
	padding: 5px;
	position: absolute;
	top: 42px;
	left: 50%;
	overflow: hidden;
}
.nav4 .nav4-center .pic9{
	width: 1133px;
}
.nav4 .nav4-center .yuehui ul{
	width: 1146px;
	display: flex;
}
.nav4 .nav4-center .yuehui ul li{
	flex: 1;
	text-align: center;
	padding: 10px 0;
	position: relative;
	
}
.nav4 .nav4-center .yuehui ul li a{
	font-size: 12px;
	color: #666;
}
.nav4 .nav4-center .yuehui ul li::after{
	content: "丨";
	display: inline-block;
	font-size: 13px;
    color: #e8e8e8;
    position: absolute;
    right: -5px;
}
.nav4 .nav4-center .yuehui ul li:hover{
	border-bottom: 2px solid #f10180;
}
.nav5{
	width: 100%
}
.nav5 .nav5-wrapper{
	width: 1170px;
	margin: 0 auto;
	text-align: center;
}
.nav5 .nav5-wrapper .nav-start{
	height: 30px;
	margin-top:40px;
	background: url(./images/pic10.png) no-repeat center;
}
.nav5 .nav5-wrapper .nav5-menu{
	width: 1170px;
	height: 30px;
	margin-top: 20px;
}
.nav5 .nav5-wrapper .nav5-menu .nav5-l{
	float: left;
	font-size: 20px;
}
.nav5 .nav5-wrapper .nav5-menu .nav5-l span{
	display: inline-block;
	vertical-align: top;
}
.nav5 .nav5-wrapper .nav5-menu .nav5-r ul{
	float: right;
	display: flex;
}
.nav5 .nav5-wrapper .nav5-menu .nav5-r ul li{
	flex: 1;
	height: 20px;
	border-right: 1px solid #ccc;
	padding: 3px 10px;
	line-height: 20px;
}
.nav5 .nav5-wrapper .nav5-menu .nav5-r ul li a{
	display: inline-block;
	color: #333;
}
.nav5 .nav5-wrapper .nav5-menu .nav5-r ul li:hover a{
	color: #f10180;
}
.nav5-menu::after{
	content: "";
	display: block;
	clear: both;
}
.nav5-img{
	width: 1170px;
	clear: both;
}
.nav5-img .img-l{
	float: left;
}
.nav5-img .img-r{
	width: 884px;
	display: flex;
}
.nav5-img .img-r ul{
	display: flex;
	flex-wrap: wrap;
}
.nav5-img .img-r ul li{
	width: 221px;
	height: 300px;
	box-sizing: border-box;
	border: 1px solid #ccc;
}
.nav5-img .img-r ul li a img{
	width: 144px;
	height: 177px;
	margin-top: 20px;
}
.nav5-img .img-r ul li .desc{
	width: 140px;
	height: 36px;
	line-height:18px;
	font-size: 14px;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -o-text-overflow: ellipsis;
    /*text-overflow: ellipsis;*/
    overflow: hidden;
    -webkit-line-clamp: 2;
	margin: 5px auto;
}
.price{
	width: 140px;
	height: 30px;
	line-height: 30px;
	color: #f10180;
    font-size: 12px;
    margin:0 auto;
    margin-top: 5px;
}
.price .relprice{
	font-size: 20px;
    margin: 0 4px 0 1px;
}
.del{
	text-decoration: line-through;
	color: #969696;
	font-size: 12px;
}
.nav6{
	width: 100%;
}
.nav6 .nav6-wrapper{
	width: 1170px;
	margin: 0 auto;
}
.nav6-start{
	width: 1170px;
	height: 68px;
/*	margin: 0 auto;*/
	margin-top: 30px;
}
.nav6-second{
	width: 1200px;
	height: 235px;
	display: flex;
	justify-content: space-between;
}
.nav6-second a{
	position: relative;
	display: inline-block;
	margin-right: 23px;
}
.nav6-second .pic15{
	width: 158px;
	height: 41px;
	position: absolute;
	top: 39px;
	left: 22px;
}
.nav6-second .second-botton{
	width: 100px;
	height: 100px;
	border-radius: 5px;
	line-height: 100px;
	text-align: center;
	display: inline-block;
	background-color: #fff;
}
.nav6-second .botton1{
	position: absolute;
	top: 120px;
	left: 15px;
}
.nav6-second .botton2{
	position: absolute;
	top: 120px;
	left: 260px;
}
.nav6-second .botton3{
	position: absolute;
	top: 120px;
	left: 140px;
}
.nav6-second .second-botton img{
	width: 71px;
	height: 90px;
}
.nav6-third{
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.nav6-third .nav6-third-pic{
	width: 570px;
	height: 350px;
	display: inline-block;
	margin-right: 23px;
    margin-bottom: 30px;
    position: relative;
}
.nav6-third .nav6-third-pic .third-small{
	display: block;
	width: 320px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: rgba(255,255,255,.9);
    border-radius: 4px;
    position: absolute;
    top: 215px;
    left: 50%;
    margin-left: -160px;

}
.nav6-third .nav6-third-pic .third-small .smallPic{
	width: 100px;
	height: 50px;
	display: inline-block;
}
.nav6-third .nav6-third-pic .third-small .smallZi{
	position: absolute;
    top: 40px;
    left: 60px;
	height: 50px;
	line-height: 50px;
	width: 210px;
	display: inline-block;
	font-size: 14px;
    color: #333;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.foot{
	width: 100%;
	margin-top: 30px;
	background-color: #FCFCFC;
	border-top: 1px solid #ebebeb;
}
.foot .foot-wrapper{
	width: 960px;
	margin: 0 auto;
	margin-top: 30px;
}
.foot .foot-wrapper .foot-first{
	height: 105px;
	display: flex;
}
.foot .foot-wrapper .foot-first li{
	flex:1;
	text-align: center;
}
.foot .foot-wrapper .foot-first li span{
	width:58px;
	height: 75px; 
	margin-top: 15px;
	display: inline-block;
}
.ff1{
	background: url(./images/pic20.png) 0 0;
}
.ff2{
	background: url(./images/pic20.png) -80px 0;
}
.ff3{
	background: url(./images/pic20.png) -160px 0;
}
.ff4{
	background: url(./images/pic20.png) -240px 0;
}
.ff5{
	background: url(./images/pic20.png) -320px 0;
}
.ff6{
	background: url(./images/pic20.png) -400px 0;
}
.ff7{
	background: url(./images/pic20.png) -480px 0;
}
.ff8{
	background: url(./images/pic20.png) -560px 0;
}
.ff9{
	background: url(./images/pic20.png) -640px 0;
}
.ff10{
	background: url(./images/pic20.png) -720px 0;
}
.foot-list{
	width: 960px;
	display: flex;
	margin-top: 30px;
}
.foot-list ul{
	flex:1;
	border-right: 1px solid #ccc;
}
.foot-list ul li{
	padding: 5px;
	list-style: disc inside;
	font-size: 14px;
	color: #4d4d4d;	
}
.foot-list ul li:first-child{
	list-style: none;
}
.foot-list ul li a{
	font-size: 12px;
	color: grey;
	display: inline-block;
}
.foot-list ul li:hover{
	transition: all .2s ease-out;
	transform: translateX(3px);
	color: #f10180;
}
.foot-list ul .none:hover{
	transition: none 0;
	transform: translateX(0);
	color: #000;
}
.foot-list ul li a:hover{
	color: #f10180;
	
}
.foot-list .erweima li:hover{
	transition: none;
	transform: translateX(0);
	color: #000;
}
.foot-list .erweima{
	border: none;
}
.foot-list .erweima li{
	list-style: none;
}
.foot .foot-wrapper .foot-about{
	height: 30px;
	margin-top: 20px;
	text-align: center;
	line-height: 30px;
	background-color: #d7237e;
	font-size: 12px;
	color: #fff;
}
.foot .foot-wrapper .foot-about a{
	font-size: 12px;
	color: #fff;
}
.foot .foot-wrapper .foot-about a:hover{
	    color: #4d4d4d;
}
.foot .foot-wrapper .foot-anquan{
	text-align: center;
	color: #999;
	font-size: 12px;
	margin-top: 15px;
}
.foot .foot-wrapper .foot-anquan a{
	color: grey;
}
.foot .foot-wrapper .foot-anquan a:hover{
	color: #f10180;
}
.foot .foot-wrapper .last{
	text-align: center;
	margin-top: 30px;
}
.foot .foot-wrapper .last span{
	display: inline-block;
	width: 105px;
	height: 40px;
	margin: 5px;
}
.foot .foot-wrapper .last .last1{
	background: url(./images/last.png) 0 0;
}
.foot .foot-wrapper .last .last2{
	background: url(./images/last.png) 0 -150px;
}
.foot .foot-wrapper .last .last3{
	background: url(./images/last.png) 0 -200px;
}
.foot .foot-wrapper .last .last4{
	background: url(./images/last.png) 0 -250px;
}
.foot .foot-wrapper .last .last5{
	background: url(./images/last.png) 0 -300px;
}
.foot .foot-wrapper .last .last6{
	background: url(./images/last.png) 0 -400px;
}
.foot .foot-wrapper .last .last7{
	background: url(./images/last.png) 0 -450px;
}
